--- 
components: 
  schemas: 
    Activity: 
      $ref: "https://smart-data-models.github.io/dataModel.User/Activity/model.yaml#/Activity"
info: 
  description: |
    This entity represents the current activity performed by a User. It can be used in different scenarios,
    from modeling social activities on a site (e.g. Federico shares a picture of his dog) to real life activities 
    (e.g. Federico drives his car to work). The model is largely inspired by https://www.w3.org/TR/activitystreams-core.

    The model represents user activities using the following predicate structure: (Agent, Verb, Object*, Target*), where Object and Target are optional.
    The Agent is identified by the attribute refAgent, the Verb is identified by activityType, the Object is identified by refObject, and the Target is identified by refTarget.
  title: Activity
  version: "1.0.0"
openapi: "3.0.0"

# These paths are merely representative.
paths: 
  /ngsi-ld/v1/entities: 
    get: 
      description: "Retrieve a set of entities which matches a specific query from an NGSI-LD system"
      parameters: 
        - 
          in: query
          name: type
          required: true
          schema: 
            enum: 
              - Activity
            type: string
      responses: 
        ? "200"
        : 
          content: 
            application/ld+json: 
              examples: 
                keyvalues: 
                  summary: "Key-Values Pairs"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.User/Activity/example.json"
                normalized: 
                  summary: "Normalized NGSI-LD"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.User/Activity/example-normalized-ld.jsonld"
          description: OK
      tags: 
        - ngsi-ld
tags: 
  - 
    description: "NGSI-LD Linked-data Format"
    name: ngsi-ld
